<!-- 
  ------------------------------------------------------------
  Author: Ashutosh Garg
  Email: ashutoshgarg1987@gmail.com
  File: intorscreen.html
  Description: Intro screen view
  Created On: 10/Dec/2025
  ------------------------------------------------------------
-->

<div id="intro-screen">
    <img class="intro-title fade-in" src="assets/images/introscreen/title-introduction.svg">
    <div class="intro-box">
        <h1 class="fade-in maintxt" style="--d:0s">Algebraic Expressions</h1>
        <div class="fade-in subtext" style="--d:0.2s">An Algebraic Expression is the combination of constant and
            variables.
            We use the operations like addition, subtraction <br> etc. to form an algebraic expression.</div>

        <div class="two-col">
            <div style="width: 40%;">
                <h2 class="fade-in maintxt" style="--d:0.4s">Variable</h2>
                <div class="fade-in subtext" style="--d:0.6s">A variable does not have a fixed value. It can be varied.
                    It <br> is represented by letters
                    like <em>a, y, p, m</em> etc.</div>
            </div>

            <div>
                <h2 class="fade-in maintxt" style="--d:0.8s">Constant</h2>
                <div class="fade-in subtext" style="--d:1.0s">A constant has a fixed value. Any number without<br> a
                    variable is a constant.</div>
            </div>
        </div>

        <h2 class="fade-in maintxt" style="--d:1.0s">Example: <span class="bold-eq">2x + 7</span></h2>
        <div class="fade-in subtext" style="--d:1.2s">Here we got this expression by multiplying 2 and x and then adding
            7 to it.<br>
            In the above expression, the variable is x and the constant is 7.</div>

        <div class="example-row">
            <div style="display: flex; flex-direction:column">
                <div>
                    <h2 class="fade-in maintxt" style="--d:1.4s">Expressions with One Variable</h2>
                    <div class="fade-in subtext" style="--d:1.6s">If we know the value of the variable in the expression
                        then we can<br>easily find the numerical value of the given expression.
                    </div>
                </div>
                <div style="margin-top: 29px;">
                    <div>
                        <strong class="maintxt fade-in" style="--d:1.8s">Example:</strong>
                        <span class="fade-in subtext" style="--d:2.0s">Find the value of the expression </span>
                        <strong class="fade-in subtext" style="--d:2.0s">2x + 7</strong>
                        <span class="fade-in subtext" style="--d:2.0s">if</span>
                        <strong class="fade-in subtext" style="--d:2.0s">x = 3</strong>.
                    </div>
                </div>
            </div>

            <div class="workings">
                <div class="fade-in subtext" style="--d:2.2s; margin-top: 29px;">
                    We have to put the<br> value of <strong>x = 3.</strong><br>
                    <strong>
                        = 2x + 7<br>
                        = 2(3) + 7<br>
                        = 6 + 7<br>
                        = 13
                    </strong>
                    <div>
                    </div>
                </div>

                <div class="equation-section fade-in" class="" style="--d:2.4s">
                    <img class="equation" src="assets/images/introscreen/equation.svg">
                    <img class="coefcient" src="assets/images/introscreen/coefcient.svg">
                    <img class="constant" src="assets/images/introscreen/constant.svg">
                    <img class="variable" src="assets/images/introscreen/variable.svg">
                </div>
            </div>
        </div>
    </div>

    <!-- Skip Button -->
    <img id="skipBtn" class="skip-btn fade-in" style="--d:2.6s" src="assets/images/introscreen/skip-btn.svg" />
</div>