<!-- 
  ------------------------------------------------------------
  Author: Ashutosh Garg
  Email: ashutoshgarg1987@gmail.com
  File: challengescreen.html
  Description: challenge screen view
  Created On: 12/Dec/2025
  ------------------------------------------------------------
-->

<div id="easy-screen">
    <!-- TOP BANNER -->
    <div class="top-banner">
        <span>Build the equation on the balance exactly as shown, then use balanced operations to find the value of the variable.</span>
        <div class="sound-wrapper">
            <img src="assets/images/common/sound-btn.svg" class="sound-btn" id="soundBtn">
            <!-- <div class="mute-tag">Mute</div> -->
        </div>
    </div>

    <!-- MAIN CONTENT -->
    <div class="main-area">
        <!-- LEFT TOOLBOX -->
        <div class="toolbox">
            <div class="slider-box">
                <input type="range" min="0" max="10" class="slider-x vertical">
                <div class="tool-section-title">x = 3</div>
            </div>

            <div class="slider-box">
                <input type="range" min="0" max="10" class="slider-y vertical">
                <div class="tool-section-title">y = 1</div>
            </div>
        </div>

        <!-- CENTER WHITE WORKSPACE -->
        <div class="workspace"></div>

        <!-- RIGHT EQUATIONS -->
        <div class="toolbox">
            
        </div>

    </div>

    <!-- BOTTOM RIGHT BUTTONS -->
    <div class="bottom-right-buttons">
        <div id="challengeResetBtn"><img src="assets/images/common/reset.svg" style="width: 90px;"></div>
        <div id="challengeNextBtn"><img src="assets/images/common/next.svg" style="width: 110px;"></div>
    </div>
</div>