<!-- 
  ------------------------------------------------------------
  Author: Ashutosh Garg
  Email: ashutoshgarg1987@gmail.com
  File: menu.html
  Description: menu view
  Created On: 03/Dec/2025
  ------------------------------------------------------------
-->

<div>
  <div class="title-banner">
    <span>Types of Angles</span>
  </div>

  <div class="cards-row">
    <div class="card blue" id="intro-card">
      <img src="assets/images/menu/text-intro.svg" class="icon" />
    </div>

    <div class="card orange" id="discover-card">
      <img src="assets/images/menu/text-discover.svg" class="icon" />
    </div>
  </div>
</div>
