<!-- 
  ------------------------------------------------------------
  Author: Ashutosh Garg
  Email: ashutoshgarg1987@gmail.com
  File: intro.html
  Description: intro view
  Created On: 03/Dec/2025
  ------------------------------------------------------------
-->

<div id="intro-screen">
    <img src="assets/images/intro/text-maths.svg" class="intro-title-maths">
    <img src="assets/images/intro/text-simulations.svg" class="intro-title-sim">
    <img src="assets/images/intro/heading.svg" class="intro-title-types">
    <img src="assets/images/intro/boy-girl.svg" class="intro-boy">
    <img src="assets/images/intro/btn-play.svg" class="intro-play-btn">
</div>