<!-- 
  ------------------------------------------------------------
  Author: Ashutosh Garg
  Email: ashutoshgarg1987@gmail.com
  File: discovermenu.html
  Description: discover menu
  Created On: 03/Dec/2025
  ------------------------------------------------------------
-->

<div>
  <div class="title-banner">
    <span>Discover</span>
  </div>

  <div class="cards-row">
    <div class="card" id="easyCard">
        <div class="card-inner">
            <img class="card-bg" src="assets/images/discovermenu/easy-box.svg" />
            <img class="card-icon" src="assets/images/discovermenu/easy-icon.svg" />
            <img class="card-name" src="assets/images/discovermenu/easy.svg" />
        </div>
        <div class="tooltip-wrapper">
          <img class="tooltip-icon" src="assets/images/discovermenu/tooltip-icon.svg" />
          <div class="tooltip-img">
            <img src="assets/images/discovermenu/easy-txt.svg" />
          </div>
        </div>
    </div>

    <div class="card" id="warmUpCard">
        <div class="card-inner">
            <img class="card-bg" src="assets/images/discovermenu/warmup-box.svg" />
            <img class="card-icon" src="assets/images/discovermenu/warmup-icon.svg" />
            <img class="card-name" src="assets/images/discovermenu/warmup.svg" />
        </div>
        <div class="tooltip-wrapper">
          <img class="tooltip-icon" src="assets/images/discovermenu/tooltip-icon.svg" />
          <div class="tooltip-img">
            <img src="assets/images/discovermenu/warmup-txt.svg" />
          </div>
        </div>
    </div>

    <div class="card" id="challengeCard">
        <div class="card-inner">
            <img class="card-bg" src="assets/images/discovermenu/challenge-box.svg" />
            <img class="card-icon" src="assets/images/discovermenu/challenge-icon.svg" />
            <img class="card-name" src="assets/images/discovermenu/challenge.svg" />
        </div>
        <div class="tooltip-wrapper">
          <img class="tooltip-icon" src="assets/images/discovermenu/tooltip-icon.svg" />
          <div class="tooltip-img">
            <img src="assets/images/discovermenu/challenge-txt.svg" />
          </div>
        </div>
    </div>
  </div>

</div>
