<!-- 
  ------------------------------------------------------------
  Author: MentorNest Animation
  Email: info@mentornest.com
  File: easyscreen.html
  Description: easy screen view
  Created On: 11/Dec/2025
  ------------------------------------------------------------
-->

<div id="warmup-screen">
    <!-- TOP BANNER -->
    <div class="top-banner">
        <span>Drag the blocks to build the correct expression, then drop the completed expression into the matching
            box.</span>
        <div class="sound-wrapper">
            <img src="assets/images/common/sound-btn.svg" class="btn sound-btn" id="soundBtn">
            <!-- <div class="mute-tag">Mute</div> -->
        </div>
    </div>

    <!-- MAIN CONTENT -->
    <div class="main-area">
        <!-- LEFT TOOLBOX -->
        <div class="toolbox">
            <h2 style="font-size: 50px;">Toolbox</h2>
            <div class="grid-2">
                <div class="alg-btn x draggable-block" data-type="var" data-value="x">x</div>
                <div class="alg-btn y draggable-block" data-type="var" data-value="y">y</div>
            </div>
            <div class="numbers-grid">
                <div class="draggable-block" data-type="num" data-value="-10">-10</div>
                <div class="draggable-block" data-type="num" data-value="-9">-9</div>
                <div class="draggable-block" data-type="num" data-value="-8">-8</div>
                <div class="draggable-block" data-type="num" data-value="-7">-7</div>
                <div class="draggable-block" data-type="num" data-value="-6">-6</div>
                <div class="draggable-block" data-type="num" data-value="-5">-5</div>
                <div class="draggable-block" data-type="num" data-value="-4">-4</div>
                <div class="draggable-block" data-type="num" data-value="-3">-3</div>
                <div class="draggable-block" data-type="num" data-value="-2">-2</div>
                <div class="draggable-block" data-type="num" data-value="-1">-1</div>
                <div class="draggable-block" data-type="num" data-value="1">1</div>
                <div class="draggable-block" data-type="num" data-value="2">2</div>
                <div class="draggable-block" data-type="num" data-value="3">3</div>
                <div class="draggable-block" data-type="num" data-value="4">4</div>
                <div class="draggable-block" data-type="num" data-value="5">5</div>
                <div class="draggable-block" data-type="num" data-value="6">6</div>
                <div class="draggable-block" data-type="num" data-value="7">7</div>
                <div class="draggable-block" data-type="num" data-value="8">8</div>
                <div class="draggable-block" data-type="num" data-value="9">9</div>
                <div class="draggable-block" data-type="num" data-value="10">10</div>
            </div>
            <button class="clear-btn">
                <img src="assets/images/common/clear.svg" alt="Clear" class="clear-img">
            </button>
        </div>

        <!-- CENTER WHITE WORKSPACE -->
        <div class="workspace"></div>

        <!-- RIGHT EQUATIONS -->
        <div class="equations">
            <div class="eq-box">
                <div class="eq-font" id="equation1">Equation 1</div>
                <div class="eq-slot" id="slot1"></div>
            </div>

            <div class="eq-box">
                <div class="eq-font" id="equation2">Equation 2</div>
                <div class="eq-slot" id="slot2"></div>
            </div>

            <div class="eq-box">
                <div class="eq-font" id="equation3">Equation 3</div>
                <div class="eq-slot" id="slot3"></div>
            </div>
        </div>
    </div>

    <!-- BOTTOM RIGHT BUTTONS -->
    <div class="bottom-right-buttons">
        <div id="warmupResetBtn"><img src="assets/images/common/reset.svg" style="width: 90px;"></div>
        <div id="warmupNextBtn"><img src="assets/images/common/next.svg" style="width: 110px;"></div>
    </div>
</div>