<!-- 
  ------------------------------------------------------------
  Author: Ashutosh Garg
  Email: ashutoshgarg1987@gmail.com
  File: easyscreen.html
  Description: easy screen view
  Created On: 03/Dec/2025
  ------------------------------------------------------------
-->

<div id="warmup-screen">
    <!-- TOP BANNER -->
    <div class="top-banner">
        <span>Let’s learn how to build algebraic expressions using coins, weights, and variables.</span>

        <div class="sound-wrapper">
            <img src="assets/images/common/sound-btn.svg" class="sound-btn" id="soundBtn">
            <div class="mute-tag">Mute</div>
        </div>
    </div>

    <!-- MAIN CONTENT -->
    <div class="content-area">
        <!-- LEFT: TOOLBOX PANEL -->
        <div class="bg-panel" style="width: 19%;" id="rightPanel">
            <div class="tool-title">Toolbox</div>
            <div class="tool-section">
                <div class="tool-section-title">Coins</div>
                <div class="icon-grid">
                    <div class="icon-item"></div>
                    <div class="icon-item"></div>
                    <div class="icon-item"></div>
                </div>
            </div>

            <div class="tool-section">
                <div class="tool-section-title">Algebra</div>
                <div class="icon-grid">
                    <div class="icon-item"></div>
                    <div class="icon-item"></div>
                    <div class="icon-item"></div>
                    <div class="icon-item"></div>
                </div>
            </div>

            <div class="tool-section">
                <div class="tool-section-title">Weights</div>
                <div class="icon-grid">
                    <div class="icon-item"></div>
                    <div class="icon-item"></div>
                    <div class="icon-item"></div>
                </div>
            </div>
        </div>

        <!-- RIGHT: VARIABLES PANEL -->
        <div class="bg-panel" style="width: 60%;" id="rightPanel">

        </div>

        <!-- RIGHT: VARIABLES PANEL -->
        <div class="bg-panel" style="width: 19%;" id="rightPanel">
        </div>
    </div>

    <!-- BOTTOM RIGHT BUTTONS -->
    <div class="bottom-right-buttons">
        <div id="challengeResetBtn"><img src="assets/images/common/reset.svg" style="width: 90px;"></div>
        <div id="challengeNextBtn"><img src="assets/images/common/next.svg" style="width: 110px;"></div>
    </div>
</div>