<!-- 
  ------------------------------------------------------------
  Author: Ashutosh Garg
  Email: ashutoshgarg1987@gmail.com
  File: easyscreen.html
  Description: easy screen view
  Created On: 11/Dec/2025
  ------------------------------------------------------------
-->

<div id="easy-screen">
  <!-- TOP BANNER -->
  <div class="top-banner">
    <span>Let’s learn how to build algebraic expressions using coins, weights, and variables.</span>

    <div class="sound-wrapper">
      <img src="assets/images/common/sound-btn.svg" class="btn sound-btn" id="soundBtn">
      <!-- <div class="mute-tag">Mute</div> -->
    </div>
  </div>

  <!-- MAIN CONTENT -->
  <div class="content-area">
    <!-- LEFT: TOOLBOX PANEL -->
    <!-- TOOLBOX -->
    <div class="bg-panel" style="width: 19%; padding: 18px;">
      <div class="tool-title">Toolbox</div>

      <!-- Coins Row -->
      <div class="tool-section coins">
        <div class="row">
          <div class="coin drag-src" data-type="coin" data-symbol="B" data-value="5">
            <img class="btn" src="assets/images/easyscreen/bronz.svg" style="width: 100px;">
          </div>
          <div class="coin drag-src" data-type="coin" data-symbol="S" data-value="10">
            <img class="btn" src="assets/images/easyscreen/silver.svg" style="width: 100px;">
          </div>
          <div class="coin drag-src" data-type="coin" data-symbol="G" data-value="15">
            <img class="btn" src="assets/images/easyscreen/gold.svg" style="width: 100px;">
          </div>
        </div>
        <div class="tool-section-title">Coins</div>
      </div>

      <!-- Algebra Buttons -->
      <div class="tool-section algebra">
        <div class="grid-2">
          <div class="btn alg-btn x drag-src" data-type="var" data-symbol="x" data-value="1">x</div>
          <div class="btn alg-btn y drag-src" data-type="var" data-symbol="y" data-value="1">y</div>
          <div class="btn alg-btn one drag-src" data-type="num" data-symbol="1" data-value="1">1</div>
          <div class="btn alg-btn neg-one drag-src" data-type="num" data-symbol="-1" data-value="-1">-1</div>
        </div>
        <div class="tool-section-title">Algebra</div>
      </div>

      <!-- Weights Row -->
      <div class="tool-section weights">
        <div class="row">
          <div class="weight">
            <img class="btn" src="assets/images/easyscreen/weight-2.svg" style="width: 100px;">
          </div>
          <div class="weight">
            <img class="btn" src="assets/images/easyscreen/weight-5.svg" style="width: 100px;">
          </div>
          <div class="weight">
            <img class="btn" src="assets/images/easyscreen/weight-10.svg" style="width: 100px;">
          </div>
        </div>
        <div class="tool-section-title">Weight</div>
      </div>

      <button class="btn clear-btn">Clear</button>
    </div>

    <!-- Center: Work PANEL -->
    <div class="bg-panel" style="width: 58%; padding: 18px;" id="rightPanel">
      <div id="workPanel" class="work-dropzone"></div>
      <div class="expression-box" id="expressionTxt"> - </div>
    </div>


    <!-- RIGHT: VARIABLES PANEL -->
    <div class="bg-panel" style="width: 19%; padding: 18px;" id="rightPanel">
      <div class="tool-title">Variables</div>
        <div class="slider-box">
          <input type="range" min="0" max="10" class="slider-x" value="1">
          <div class="tool-section-title">x = 1</div>
        </div>

        <div class="slider-box">
          <input type="range" min="0" max="10" class="slider-y" value="1">
          <div class="tool-section-title">y = 1</div>
        </div>

        <div class="tool-title">Total</div>
        <div class="total-box" id="totalTxt">0</div>

       <div class="checkboxes">
        <div><input type="checkbox" /> Show Coefficients</div>
        <div><input type="checkbox" /> Show Variables</div>
      </div>
    </div>
  </div>

  <!-- BOTTOM RIGHT BUTTONS -->
  <div class="bottom-right-buttons">
    <div id="easyResetBtn"><img src="assets/images/common/reset.svg" style="width: 90px;"></div>
    <div id="easyNextBtn"><img src="assets/images/common/next.svg" style="width: 110px;"></div>
  </div>

</div>